body {
background-image: url('https://s1.1zoom.me/big3/173/Ice_cream_Fingers_Dreads_Camera_Smile_Photographer_522677_4953x3673.jpg');
background-size: cover;
background-attachment: fixed;
}

button {
background-color: wheat;
color: oxfordblue;
font-family: jokerman;
}

h1 {
text-align: left;
font-family: jokerman;
}

header { 
Background-color: wheat;
padding: 10px;
}

.service {
height: 500px;
background-image: url('https://s1.1zoom.me/big3/866/Ice_cream_Three_3_Boys_Little_girls_Joy_552072_5528x3240.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
margin: 20px;
padding: 20px;
}

.WildestDreams {
height: 500px;
background-image: url('https://s1.1zoom.me/big3/443/Ice_cream_Bokeh_Pose_Hands_Brown_haired_Glance_569996_5919x3946.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
margin: 20px;
padding: 20px;
}
.sunday {
height: 300px;
background-image: url('https://s1.1zoom.me/big3/596/Ice_cream_Chocolate_Three_3_568803_5466x3644.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
margin: 20px;
padding: 20px;
}

h2 {
font-family: jokerman;
font-size: 200%;
padding: 20px;
text-align: left;
color: floralwhite;
}

#image {
height: 100%;
width: 100%;
background: url('https://s1.1zoom.me/big3/334/Ice_cream_Balls_Multicolor_Ice_cream_cone_Four_4_566010_3734x2500.jpg');
background-size: cover;
background-repeat: no-repeat;
}
#images {
height: 500;
width: 540;
background: url('https://s1.1zoom.me/big3/421/Sweets_Ice_cream_Lime_Bucket_526988_3744x4780.jpg');
background-size: cover;
background-repeat: no-repeat;
}
#image2 {
height: 100%;
width: 100%;
background: url('https://s1.1zoom.me/big3/562/Sweets_Ice_cream_Strawberry_Blackberry_529057_7200x4800.jpg');
background-size: cover;
background-repeat: no-repeat;
}
#image3 {
height: 500;
width: 540;
background: url('https://s1.1zoom.me/big3/904/Sweets_Ice_cream_Strawberry_526503_5184x3456.jpg');
background-size: cover;
background-repeat: no-repeat;
}
#image9 {
height: 100%;
width: 100%;
background: url('https://s1.1zoom.me/big3/547/Ice_cream_Strawberry_469821.jpg');
background-size: cover;
background-repeat: no-repeat;
}
.column {
float: left;
}

.left {
padding: 20px;
height: 500px;
width: 50%;
}

.Picnic {
height: 800px;
}

.right {
height: 500px;
width: 40%;
padding: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}